@model task.Models.Course


<h2 class="mb-3">Edit Course</h2>


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Num" />

    <partial name="_CourseFormPartial" />
    </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
