<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Task App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-light">
    <div class="container mt-5">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
